{% extends "base.html" %}
{% block head_title %} Menu Items || {{ block.super}} {% endblock head_title %}

{% block content %}
<div class="starter-template">
  <h1>Menu Items </h1>
  <p class="lead">
  	<ul>
	  {% for obj in object_list %}
	  	<a href="{{ obj.get_absolute_url }}"> <h2> {{obj.name}} </h2></a><br/>
{# 	  	<a href="/restaurants/{{obj.slug}}"> <h2> {{obj.name}} </h2></a> #}
		{% if obj.contents %}
		    
		
		
		<h3>Contents</h3>
		<ul>
			{% for item in obj.get_contents %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% if obj.excludes %}
		<h3>Excludes</h3>
		<ul>
			{% for item in obj.get_excludes %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>		
		{% endif %}
	  {% endfor %}
	</ul>  
  </p>
</div>

{% endblock content %}